# Dependencies
node_modules

# Next.js
.next
out

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Build
dist
build

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# PNPM
.pnpm-store

# Turborepo
.turbo